# Sourced by bash (from ~/.bash_profile), zsh (from ~/.zprofile), and the GDM.

[[ "${_PROFILE:-""}" == "yes" ]] && return # Only source this file once per session.
export _PROFILE=yes

echo "*** sourcing ~/.profile ***"

{{ if eq .chezmoi.osRelease.id "manjaro" -}}
if [ -f "/etc/profile.d/locale.sh" ]; then
    unset LANG
    source /etc/profile.d/locale.sh
fi
{{- end }}

# Used by bash and zsh for easier path navigation.
export CDPATH=~/projects:~/doc/business:~/doc/domestic

# time command format
export TIMEFMT=$'\nelapsed time: %*E\nmax memory:   %MKB\ncpu:          %P'

# Don't use Git repo in $HOME unless it's the current working directory.
export GIT_CEILING_DIRECTORIES="$HOME"

# SJR: 10-Oct-2023: GnuCash data and config directories.
export GNC_DATA_HOME=/home/srackham/doc/business/accounting/gnucash5/.local/share/gnucash
export GNC_CONFIG_HOME=/home/srackham/doc/business/accounting/gnucash5/.config/gnucash

#
# Build the PATH env variable:
#

# User's binaries
if [ -d "$HOME/bin" ] ; then
    export PATH="$HOME/bin:$PATH"
fi
if [ -d "$HOME/.local/bin" ] ; then
    export PATH="$HOME/.local/bin:$PATH"
fi

if [ -d "$HOME/local/bin" ]; then
    export PATH="$HOME/local/bin:$PATH"
fi

# Use Brave instead of Chrome when doing Flutter Web development.
export CHROME_EXECUTABLE=$(which brave)

# Deno runtime
if [ -d "$HOME/.deno/bin" ]; then
    export PATH=$PATH:$HOME/.deno/bin
fi

# Go language (add GOROOT and GOPATH to PATH)
if [ -d "$HOME/go" ]; then
    export PATH=$PATH:$HOME/local/bin/go/bin:$HOME/go/bin
fi

# Rust language
if [ -f $HOME/.cargo/env ]; then
    source $HOME/.cargo/env
fi

##############
# Legacy paths
##############

# # Virgil language
# if [ -d "$HOME/local/bin/virgil" ]; then
#     export PATH="$HOME/local/bin/virgil/bin:$HOME/local/bin/virgil/bin/dev:$PATH"
# fi

# # wassmtime Wasm runtime
# if [ -d "$HOME/.wasmtime" ]; then
#     export WASMTIME_HOME="$HOME/.wasmtime"
#     export PATH="$WASMTIME_HOME/bin:$PATH"
# fi

# # wasmer Wasm runtime
# if [ -d "$HOME/.wasmer" ]; then
#     export WASMER_HOME="$HOME/.wasmer"
#     export PATH="$WASMER_HOME/bin:$PATH"
# fi

# # >>> coursier install directory >>>
# export PATH="$PATH:/home/srackham/.local/share/coursier/bin"
# # <<< coursier install directory <<<
