# Sourced by bash (from ~/.bash_profile), zsh (from ~/.zprofile), and the GDM.

[[ "${_PROFILE:-""}" == "yes" ]] && return # Only source this file once.
export _PROFILE=yes

echo "*** sourcing ~/.profile ***"

#
# Environment variables exported from login shell
#

# Customise ls colors
# ~/.dircolors generated with command: dircolors -p > ~/.dircolors
# See also ~/bin/lscolors.sh
# [[ -f $HOME/.dircolors ]] && eval $(dircolors -b ~/.dircolors)

# User's binaries
if [ -d "$HOME/bin" ] ; then
    export PATH="$HOME/bin:$PATH"
fi
if [ -d "$HOME/.local/bin" ] ; then
    export PATH="$HOME/.local/bin:$PATH"
fi

if [ -d "$HOME/local/bin" ]; then
    export PATH="$HOME/local/bin:$PATH"
fi

# Use Brave instead of Chrome when doing Flutter Web development.
export CHROME_EXECUTABLE=$(which brave)

# Deno runtime
if [ -d "$HOME/.deno/bin" ]; then
    export PATH=$PATH:$HOME/.deno/bin
fi

# Go language (add GOROOT and GOPATH to PATH)
if [ -d "$HOME/go" ]; then
    export PATH=$PATH:$HOME/local/bin/go/bin:$HOME/go/bin
fi

# Rust language
if [ -f $HOME/.cargo/env ]; then
    source $HOME/.cargo/env
fi

# # Virgil language
# if [ -d "$HOME/local/bin/virgil" ]; then
#     export PATH="$HOME/local/bin/virgil/bin:$HOME/local/bin/virgil/bin/dev:$PATH"
# fi

# # wassmtime Wasm runtime
# if [ -d "$HOME/.wasmtime" ]; then
#     export WASMTIME_HOME="$HOME/.wasmtime"
#     export PATH="$WASMTIME_HOME/bin:$PATH"
# fi

# # wasmer Wasm runtime
# if [ -d "$HOME/.wasmer" ]; then
#     export WASMER_HOME="$HOME/.wasmer"
#     export PATH="$WASMER_HOME/bin:$PATH"
# fi

# Don't use Git repo in $HOME unless it's the current working directory.
export GIT_CEILING_DIRECTORIES="$HOME"

# >>> coursier install directory >>>
export PATH="$PATH:/home/srackham/.local/share/coursier/bin"
# <<< coursier install directory <<<

# SJR: 10-Oct-2023: GnuCash data and config directories.
export GNC_DATA_HOME=/home/srackham/doc/business/accounting/gnucash5/.local/share/gnucash
export GNC_CONFIG_HOME=/home/srackham/doc/business/accounting/gnucash5/.config/gnucash

{{ if eq .chezmoi.osRelease.id "manjaro" -}}
if [ -f "/etc/profile.d/locale.sh" ]; then
    unset LANG
    source /etc/profile.d/locale.sh
fi
{{- end }}



# !!! 20-Mar-2024: Old .bash_profile.

# # ~/.bash_profile: executed by bash(1) for interactive login shells.
# # see /usr/share/doc/bash/examples/startup-files for examples.
# # the files are located in the bash-doc package.

# # Disable Ctrl+S flow control.
# stty -ixon

# # include .bashrc if it exists
# if [ -f ~/.bashrc ]; then
#     source ~/.bashrc
# fi

# # Place for user's binaries (typically non-APT packages).
# USER_LOCAL_BIN=$HOME/local/bin           # On local drive.
# USER_LOCAL_PROJECTS=$HOME/local/projects # On local drive.
# USER_BIN=$HOME/bin                       # On network drive.

# # Chrome Remote Desktop set Asus C200 Chromebook resolution.
# #export CHROME_REMOTE_DESKTOP_DEFAULT_DESKTOP_SIZES="1366x768"
# #export CHROME_REMOTE_DESKTOP_DEFAULT_DESKTOP_SIZES="1366x768,1600x1200,3840x2560"

# # Miscellaneous applications.
# export NODE_REPL_HISTORY_FILE=$HOME/.node_history    # iojs REPL history.

# # Java applications.
# export JAVA_HOME=/usr/lib/jvm/default-java
# export JDK_HOME=$JAVA_HOME
# #export GROOVY_HOME=$USER_BIN/groovy
# #export JRUBY_HOME=$USER_BIN/jruby
# #export JYTHON_HOME=$USER_BIN/jython
# #export GRAILS_HOME=$USER_BIN/grails
# #export GRADLE_HOME=$USER_BIN/gradle
# #export GANT_HOME=$USER_BIN/gant

# # Go language.
# export GOROOT=$USER_LOCAL_BIN/go
# export PATH=$PATH:$GOROOT/bin
# export GOPATH=$USER_LOCAL_PROJECTS/go
# # Append all $GOPATH bin directory to $PATH.
# export PATH=$PATH:$GOPATH/bin

# # Dart language.
# export DART_SDK=/usr/lib/dart
# export PATH=$PATH:$DART_SDK/bin:$HOME/.pub-cache/bin

# # Python language.
# export PATH=$PATH:$HOME/.local/bin

# # Deno runtime.
# export PATH=$PATH:$HOME/.deno/bin

# # Android SDK (for IntelliJ).
# export ANDROID_HOME=$USER_LOCAL_BIN/android-sdk

# # Locally installed node applications take precedence.
# PATH=./node_modules/.bin:$PATH

# #if [ -d $USER_BIN ]; then
# #    PATH=$PATH:$GROOVY_HOME/bin
# #    PATH=$PATH:$JRUBY_HOME/bin
# #    PATH=$PATH:$JYTHON_HOME/bin
# #    PATH=$PATH:$GRAILS_HOME/bin
# #    PATH=$PATH:$GRADLE_HOME/bin
# #    PATH=$PATH:$GANT_HOME/bin
# #fi

# # do the same with MANPATH
# if [ -d ~/man ]; then
#     MANPATH=~/man:"${MANPATH}"
#     export MANPATH
# fi

# # Shell comfort
# PAGER=/usr/bin/less; export PAGER
# EDITOR=/usr/bin/vim; export EDITOR              # Linux

# # Add path to Ruby's $LOAD_PATH ($:)
# export RUBYLIB=$HOME/lib/ruby

# # Rust language
# if [ -f $HOME/.cargo/env ]; then
#     source $HOME/.cargo/env
# fi


# # >>> coursier install directory >>>
# export PATH="$PATH:/home/srackham/.local/share/coursier/bin"
# # <<< coursier install directory <<<
