# vim: set filetype=bash:
# shellcheck disable=all

if [ -n "$WAYLAND_DISPLAY" ]; then
    # Because, unlike in X11,  zsh or bash do not start as login shells in Wayland GNOME sessions
    source ~/.zprofile
fi

{{template "interactive_shell.tmpl" .}}

setopt hist_ignore_all_dups   		  # Remove duplicate commands
setopt interactive_comments  			  # comments in shell; good for copy/paste

# zsh native command recall
bindkey -v                          # vi command-line editing
bindkey -M viins '^R' history-incremental-pattern-search-backward
bindkey -M vicmd '^R' history-incremental-pattern-search-backward
bindkey -M viins '^F' history-incremental-pattern-search-forward
bindkey -M vicmd '^F' history-incremental-pattern-search-forward
bindkey -M viins '^N' down-line-or-history
bindkey -M vicmd '^N' down-line-or-history
bindkey -M viins '^P' up-line-or-history
bindkey -M vicmd '^P' up-line-or-history

# fzf command recall with Ctrl+R
# source <(fzf --zsh)

# zsh help command for builtin commands
autoload -Uz run-help; alias help=run-help

# Enable completion system
autoload -Uz compinit && compinit

# Basic, useful completion behaviour
zstyle ':completion:*' completer _complete _ignored _files
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' special-dirs true
zstyle ':completion:*' rehash true
zstyle ':completion::complete:*' use-cache true

# For SSH windows change the window tab name to the machine host name
if [[ -n "$SSH_CONNECTION" ]]; then
    print -Pn '\e]0;%m\a'
fi

# Activate mise for current shell
# IMPORTANT: Place mise activate at the end of your shell config file so nothing overrides the PATH it sets.
eval "$(mise activate zsh)"
