# SJR: 10-Oct-2023: GnuCash data and config directories.
export GNC_DATA_HOME=/home/srackham/doc/business/accounting/gnucash5/.local/share/gnucash
export GNC_CONFIG_HOME=/home/srackham/doc/business/accounting/gnucash5/.config/gnucash

{{ if eq .chezmoi.osRelease.id "manjaro" -}}
if [ -f "/etc/profile.d/locale.sh" ]; then
    unset LANG
    source /etc/profile.d/locale.sh
fi
{{- end }}


