echo "*** sourcing ~/.bashrc ***"

{{ template "interactive_shell.tmpl" . }}

export HISTFILESIZE=$HISTSIZE
export PROMPT_COMMAND="history -a"  # Update history file after each command.

shopt -s histappend
set -o vi
bind -s 'set completion-ignore-case on'
shopt -s extglob
shopt -s globstar   # the ** pattern recursively matches subdirectories and files.

# set fancy prompt color differently for servers.
# see http://www.tldp.org/HOWTO/Bash-Prompt-HOWTO/x329.html
case $(hostname) in
nuc1)
    PS1='\[\n\033[1;36m\]\u@\h \[\033[1;33m\w\033[0m\]\n$ '
    ;;
nuc2)
    PS1='\[\n\033[1;31m\]\u@\h \[\033[1;33m\w\033[0m\]\n$ '
    ;;
*)
    PS1='\[\n\033[1;32m\]\u@\h \[\033[1;33m\w\033[0m\]\n$ '
    ;;
esac

# Recoll document search, lists file names that match query.
# Usage: ds query
function ds() {
    if [ "$*" ]; then
        recoll -t -q $*  2>/dev/null \
            | tail -n +3 \
            | head -n 20 \
            | perl -pe 's|^.*\[file:\/\/(.*?)\].*$|\1|'
    else
        echo "missing search query" >&2
        return 1
    fi
}