# vim: set filetype=bash:

#
# Shared environment variables.
#

{{if .chezmoi.hostname | hasPrefix "nuc"}}
# Fix Remmina invisible cursor over SSH issue.
export PROMPT=$'%{\e]12;green\a%}\n%B%F{green}%n@%m %F{yellow}%~%f%b\n$ '
{{else}}
export PROMPT=$'\n%B%F{magenta}%n@%m %F{cyan}%~%f%b\n$ '
{{end}}

# Shared bash and zsh history.
export HISTFILE=~/.shared_history
export HISTSIZE=10000

export FZF_DEFAULT_OPTS="--ansi --multi --bind ctrl-a:select-all,ctrl-d:deselect-all,ctrl-space:toggle+down,ctrl-t:toggle-preview --preview 'bat --color=always --style=plain {}' --preview-window 'wrap,hidden,up,60%,border-bottom'"
export FZF_DEFAULT_COMMAND="fd --type f"

export BAT_THEME="Dracula"

# Default apps.
export EDITOR=nvim

# Secrets
export GEMINI_API_KEY={{ .secrets.gemini_api_key }}

#
# Shared aliases
#

{{/*
Shared bash and zsh configuration settings for interactive shells.
*/}}
# Shared bash and zsh aliases
alias ,="cd -"
alias b="brave"
alias btc='echo $(date +'%H:%M'): $(ccp BTC)'

{{/* Ubuntu renamed `bat` to `batcat`*/}}
{{if eq .chezmoi.osRelease.id "ubuntu"}}
alias cat="batcat --style=plain" 
alias less="batcat --style=plain"
alias l="batcat --style=plain"
{{else}}
alias cat="bat --style=plain" 
alias less="bat --style=plain"
alias l="bat --style=plain"
{{end}}

{{if eq .chezmoi.arch "arm64"}}
alias cryptor="cryptor.arm64"
{{end}}
alias clipboard="xclip -selection clipboard"    # Copy stdout to clipboard
alias cryptor-summary="cryptor valuate -currency nzd -confdir ~/bin/.cryptor -aggregate-only"
alias cryptor-plot="cryptor history -confdir ~/bin/.cryptor -portfolio aggregate | plot-history.sh"
alias dmesg="sudo dmesg --human --color=always"
alias diff="diff --color=always -u"
alias drake="deno run -A Drakefile.ts"
alias rg="rg --colors path:style:bold  --colors path:fg:yellow"
alias g="rg --max-depth 1 -z"
alias gd="git diff --color"
alias gg="git grep -P"
alias gl="git log --pretty=format:'%h%x09%ad%x09%Cgreen%d%Creset %s' --date=relative --color=always | fzf --preview 'git show --name-only {1}'"
alias gls="git ls-files"
alias grep="grep --color=auto"
alias gst="git status --short 2>/dev/null"
alias gt="tmux capture-pane -p -S - | rg --color=always"  # grep tmux current pane
alias gw="./gradlew --console plain"
{{if eq .chezmoi.osRelease.id "manjaro"}}
alias hx="helix"
{{end}}
alias h="history"

# eza aliases.
{{/* 23-Mar-2024: Ubuntu uses the older exa */}}
{{if or (eq .chezmoi.osRelease.id "ubuntu")  (.chezmoi.hostname | hasPrefix "nuc")}}
alias eza="exa"
{{end}}
alias ls="eza"
alias ll="eza -lHg"
alias lr="eza -laHgs modified"

# ls aliases.
# lsflags="--color --group-directories-first"
# alias ls="ls ${lsflags}"
# alias la="ls ${lsflags} -lA"
# alias ll="ls ${lsflags} -l"
# alias lr="ls ${lsflags} -Altr --time-style='+%d-%m-%Y %H:%M:%S'" # Long listing in reverse chronological order

alias nls="npm list --depth 0 --silent"
alias ocr="xclip -selection clipboard -t image/png -o | tesseract -l eng - - 2>/dev/null"

{{/* distro-independent package mmmanagement aliases */}}
{{if eq .chezmoi.osRelease.id "manjaro"}}
alias pkgs="pacman -Sl --color=always | fzf --preview 'pacman -Si {2}'"
alias pkg-install="sudo pacman -S"
alias pkg-remove="sudo pacman -Rsun"
alias pkgs-upgrade="sudo pacman -Syu"
{{else if or (eq .chezmoi.osRelease.id "ubuntu")   (eq .chezmoi.osRelease.id "debian")}}
alias pkgs="apt-cache search . 2>/dev/null | fzf --preview 'apt-cache depends {1}'"
{{/* TODO: Add pkgs aliases for Debian/Ubuntu. */}}
{{else if eq .chezmoi.osRelease.id "nixos"}}
alias pkgs-upgrade="sudo nix-collect-garbage --delete-old && sudo nix-store --optimise && sudo nix-channel --update && sudo nix-channel --update unstable && mknixos boot --upgrade"
{{end}}

alias mknixos="sudo nixos-rebuild -I nixos-config=$HOME/nixos-configurations/$HOST-configuration.nix"
alias paste-text="xclip -selection clipboard -o -t text/plain"   # Copy clipboard text to stdout
alias paste-image="xclip -selection clipboard -o -t image/png"   # Copy clipboard image to stdout
alias paste-browser="paste-image >/tmp/clipboard.png && b /tmp/clipboard.png 2>/dev/null" # Paste image to browser
alias resize-image="mogrify -quality 25 -resize 800"             # Resize and compress images
alias tde="tmux kill-server; tmux new-session ode"  # Open development environment in tmux


#
# Shared functions
#

ff_manpage="Usage: ff PATH REGEXP

Recursively find file names that match regular expression REGEXP in PATHS.

- If REGEXP is \"\" then every file will be matched.
- Interactively narrow down the list using fzf.
- Open the selected file in VSCode."
open_file_cmd="$HOME/bin/nvim-open.sh"

function ff() {
    if [ "$#" -ne 2 ]; then
        echo $ff_manpage >&2
        return 1
    fi
    fd --type f --hidden --color always "$2" "$1" |
    fzf --preview 'bat --color=always {}' \
        --bind "enter:become($open_file_cmd {1})"
        # --bind 'enter:become(code --goto {+})'
        # --bind 'enter:become(vim {+})'
}

ft_manpage="Usage: ft PATH REGEXP

Recursively grep the files in PATH for text matching REGEXP.

- Display the file name and the match count.
- List top 40 files in ascending match count order (the file with the
  most matches is listed last).
- Interactively narrow down the list using fzf.
- Open the selected files in VSCode."

function ft() {
    if [ "$#" -ne 2 ]; then
        echo $ft_manpage >&2
        return 1
    fi
    rg --color=always --count-matches --smart-case --type=all --type-not=pdf "$2" "$1" \
    | sort -t ':' -k2n \
    | tail -40 \
    | tac \
    | fzf --preview 'bat --color=always {1}' \
        --delimiter : \
        --bind "enter:become($open_file_cmd {1})"
        # --bind 'enter:become(code {+1})'
        # --bind 'enter:become(vim {+1})'
}

ds_manpage="Usage: sd QUERY

Full text document search for files whose contents that match the Recoll QUERY.
Recursively grep the files in PATH for words matching REGEXP.

- List top 40 files in ascending match order (the file with the
  best match is listed last).
- Interactively narrow down the list using fzf.
- Open the selected files in VSCode."
# Recoll document search, lists file names that match query.
# Usage: ds query
function ds() {
    if [ "$*" ]; then
        recoll -t -q $*  2>/dev/null \
        | tail -n +3 \
        | head -n 40 \
        | perl -pe 's|^.*\[file:\/\/(.*?)\].*$|\1|' \
        | fzf --preview 'bat --color=always {}' \
        --bind "enter:become($open_file_cmd {1})"
            # --bind 'enter:become(code {+})'
            # --bind 'enter:become(vim {+})'
    else
        echo $ds_manpage >&2
        return 1
    fi
}

# Interactively select and delete files.
frm() {
    local files_to_delete
    local dir=$(pwd)
    usage() {
        echo "Usage: frm [-h | --help] [<dir>]"
        echo "  -h, --help             Display this help message"
        echo "  <dir>                  Working directory (default: current directory)"
    }
    while (( $# > 0 )); do
        case "$1" in
            -h|--help)
                usage
                return 0
                ;;
            *)
                dir="$1"
                shift
                ;;
        esac
    done
    if [[ -n "$dir" && ! -d "$dir" ]]; then
        echo "'$dir' is not a valid directory" >&2
        return 1
    fi
    dir=$(realpath "$dir")
    cd "$dir" || return 1
    files_to_delete=$(fzf -m)
    if [ -n "$files_to_delete" ]; then
        echo "The following files will be deleted:"
        echo
        echo "$files_to_delete"
        echo
        echo -n "Are you sure you want to delete these files? (y/n) "
        read confirm
        if [ "$confirm" = "y" ]; then
            echo
            echo "$files_to_delete" | tr '\n' '\0' | xargs -0 rm -v
        else
            echo "Operation cancelled."
        fi
    else
        echo "No files selected."
    fi
    cd - >/dev/null
}

# This script was automatically generated by the broot program
# More information can be found in https://github.com/Canop/broot
# This function starts broot and executes the command
# it produces, if any.
# It's needed because some shell commands, like `cd`,
# have no useful effect if executed in a subshell.
function br {
    local cmd cmd_file code
    cmd_file=$(mktemp)
    if broot --outcmd "$cmd_file" "$@"; then
        cmd=$(<"$cmd_file")
        command rm -f "$cmd_file"
        eval "$cmd"
    else
        code=$?
        command rm -f "$cmd_file"
        return "$code"
    fi
}
